.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  opacity: 1;
  transition: opacity 250ms $cubic;

  background-color: $bg-backdrop;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    .modal {
      transform: translate(-50%, -50%) scale(0.8);
    }
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  height: 581px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $cubic;

  box-shadow: $box-shadow--card-set;
  border-radius: 4px;
  background-color: $white-color;
}
.cloce-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  cursor: pointer;
  border-radius: 50%;
  background: $white-color;
  border: 1px solid $border-close-modal;
  fill: $bleack-color;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

// call-back__form
.call-back__titel {
  margin-top: 0;
  margin-bottom: 12px;

  color: $titel-color;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
.call-back__field {
  display: block;
  margin-bottom: 10px;
}
.call-back__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.wraper-input {
  position: relative;
}
.call-back__input {
  padding: 11px 42px;
  width: 100%;
  height: 40px;

  transition: border-color 250ms $cubic;

  outline: none;
  border: 1px solid $border-input-modal;
  border-radius: 4px;
  &:focus {
    border-color: $accent-color;
  }
}
.call-back__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transition: fill 250 ms $cubic;

  transform: translateY(-50%);
  .call-back__input:focus + & {
    fill: $accent-color;
  }
}
.textarea__field {
  display: block;
  margin-bottom: 20px;
}
.textarea__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.textarea__input {
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;

  transition: border-color 250ms var(--cubic);

  resize: none;
  outline: none;
  border-radius: 4px;
  border: 1px solid $border-input-modal;
  &:focus {
    border-color: $accent-color;
  }
  &::placeholder {
    color: $placeholder-color;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  }
}

.checkbox__field {
  display: block;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}
.checkbox__label {
  margin-left: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.checkbox__link {
  position: relative;
  text-decoration: none;
  color: $accent-color;
  &::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $accent-color;
  }
}
.checkbox__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  transition: background-color 250ms $cubic, border-color 250ms $cubic;

  border: 2px solid $titel-color;
  border-radius: 2px;
  .checkbox__input:checked ~ & {
    background-color: $accent-color;
    border-color: $accent-color;
  }
}
.call-back__submit {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 28px;
    min-width: 200px;
  
    transition: background-color 250ms $cubic;
  
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: $box-shadow-button;
    background-color: $accent-color;
  
    color: $white-color;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    &:hover, &:focus {
      background-color: $button-acent-color;
    }
}